{
  "presets": [
    "es2015",
    "react"
  ],
  "plugins": [
    "transform-async-to-generator",
    [
      "typecheck", {
        "disable": {
          "production": true
        }
      }
    ]
  ]
}
