/* Base Application Styles */

@font-face {
  font-family: 'Pokemon GB';
  src: url('../images/fonts/Pokemon_GB.woff') format('woff'),url('../images/fonts/Pokemon_GB.ttf') format('truetype'),url('../images/fonts/Pokemon_GB.svg#PokemonGB') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  color: black;
  background: white;
  overflow: hidden;
}
