.game-frame {
  position: relative;
  image-rendering: pixelated;
  zoom: 4;
  -webkit-filter: sepia(10%) hue-rotate(0deg) brightness(75%) contrast(180%);
  width: 160px;
  height: 160px;
  background: black;
  overflow: hidden;
}

.game-frame.is-fade-out {
  animation: fadeOut 0.8s steps(3, end);
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.game-frame__wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes fadeOut {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
