.player {
  background: url(../images/player.png);
  position: absolute;
  left: 50%;
  top: 50%;
  width: 16px;
  height: 16px;
}

.player.is-facing-north {
  background-position: -16px 0px;
}

.player.is-facing-east {
  background-position: -96px 0px;
}

.player.is-facing-south {
  background-position: -0px 0px;
}

.player.is-facing-west {
  background-position: -32px 0px;
}
