.tile-display {
  position: relative;
  margin-left: calc(50% - 40px);
  margin-top: calc(50% - 120px);
  white-space: nowrap;
  image-rendering: pixelated;
  zoom: 4;
  -webkit-filter: sepia(10%) hue-rotate(0deg) brightness(75%) contrast(180%);
}

.tile-display__row {
  line-height: 0;
}

.tile-display__cell {
  background: url(../images/poketiles.png);
  display: inline-block;
  height: 16px;
  width: 16px;
  line-height: 0;
}

.tile-display__player {
  background: url(../images/player.png);
  position: absolute;
  width: 16px;
  height: 16px;
  transition: left 0.2s linear, top 0.2s linear;
}

.tile-display__player.is-facing-north {
  background-position: -16px 0px;
}

.tile-display__player.is-facing-east {
  background-position: -96px 0px;
}

.tile-display__player.is-facing-south {
  background-position: -0px 0px;
}

.tile-display__player.is-facing-west {
  background-position: -32px 0px;
}
