.tile-display {
  margin-left: calc(50% - 40px);
  margin-top: calc(50% - 80px);
  white-space: nowrap;
  image-rendering: pixelated;
  zoom: 4;
  -webkit-filter: sepia(10%) hue-rotate(0deg) brightness(75%) contrast(180%);
}

.tile-display__row {
  line-height: 0;
}

.tile-display__cell {
  background: url(../images/poketiles.png);
  display: inline-block;
  height: 16px;
  width: 16px;
  line-height: 0;
}
